---
import { Image } from 'astro:assets';
import aidaSobreMi from "../assets/Aida Oropeza sobre mi.webp";
---

<section class="flex flex-col md:flex-row bg-[#F7F7F7]" id="proposito">
    <div class="md:w-[65%] px-10 py-5 md:py-20">
        <p class="text-purple">Mi propósito</p>
        <h2 class="text-[32px] text-blue font-bold">Te cuento un poco sobre mi</h1>
        <p class="pl-3 border-l-1 text-blue font-bold text-[16px] mt-20 tracking-wider">EXPERIENCIA ACTUAL</p>
        <p class="pl-3 text-gray text-[16px] my-8">Con más de 10 años de experiencia, he liderado estrategias de marketing innovadoras para compañías globales de tecnología y actualmente me encuentro en <a href="https://beyondtechnology.net/es/" class="font-bold underline text-[#6A7CD8] ">Beyond Technology</a> , fortaleciendo la marca en mercados internacionales y gestionando equipos multidisciplinarios.</p>
        <p class="pl-3 border-l-1 text-blue font-bold text-[16px] tracking-wider">ENFOQUE ESTRATÉGICO</p>
        <p class="pl-3 text-gray text-[16px] my-8">Combino creatividad, datos y tecnología para optimizar la experiencia del cliente y escalar estrategias en el entorno IT-B2B. He trabajado en contextos multiculturales, alineando campañas con objetivos de negocio y potenciando la comunicación externa.</p>
        <p class="pl-3 border-l-1 text-blue font-bold text-[16px] tracking-wider">APORTES E INSIGHTS</p>
        <p class="pl-3 text-gray text-[16px] my-8">Comparto insights sobre seguridad digital, expansión internacional y experiencia de usuario con IA desde un enfoque práctico.</p>
        <p class="pl-3 border-l-1 text-blue font-bold text-[16px] tracking-wider">PROPÓSITO PERSONAL</p>
        <p class="pl-3 text-gray text-[16px] my-8">
                Me motiva colaborar, aprender y generar impacto positivo a través de proyectos sociales, voluntariado e iniciativas de crecimiento personal y organizacional.   
            </p>
  
    </div>
    <div class="flex-1 md:w-[35%] px-15 py-5 md:pt-10 justify-center flex items-center ">
        <Image src={aidaSobreMi} alt="Aida Oropeza" class="rounded-lg" />
    </div>
    </section>