---
import { Icon } from 'astro-icon/components'
---

<div class="justify-center md:flex-row px-10 py-20">
    <p class="text-purple">Mi Equipo Global</p>
    <h4 class="text-[32px] text-blue font-bold">
        Frentes de Acción
    </h4>
</div>
<section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-10 px-10 py-10">
  <div class="bg-[#F7F7F7] px-10 pt-20 rounded-lg flex flex-col">
    <Icon name="Automatizacion_Data_Center-Visibilidad 1" class="text-5xl" />
    <div class="flex w-full gap-10 items-center">
      <a href="https://beyondtechnology.net/es/soluciones-para-redes-opticas/" target="_blank" title="automatización de redes de centros de datos" class="text-gray text-[16px] font-bold my-8">Soluciones para Redes Ópticas</a>
      <a href="https://beyondtechnology.net/es/soluciones-para-redes-opticas/" target="_blank" title="Soluciones para redes opticas"><Icon name="Arrow purple" class="text-l" /></a>
    </div>
  </div>
  <div class="bg-[#F7F7F7] px-10 pt-20 rounded-lg flex flex-col">
    <Icon name="Virtualizacion_y_Servicios_de_Nube-Respaldo 1" class="text-5xl" />
    <div class="flex w-full gap-10 items-center">
      <a href="https://beyondtechnology.net/es/proteccion-y-seguridad-de-infraestructura-soluciones-en-ciberseguridad/" target="_blank" title="automatización de redes de centros de datos" class="text-gray text-[16px] font-bold my-8">Protección y seguridad de infraestructura</a>
      <a href="https://beyondtechnology.net/es/proteccion-y-seguridad-de-infraestructura-soluciones-en-ciberseguridad/" target="_blank" title="automatización de redes de centros de datos"><Icon name="Arrow purple" class="text-l" /></a>
    </div>
  </div>
  <div class="bg-[#F7F7F7] px-10 pt-20 rounded-lg flex flex-col">
    <Icon name="AI_Driven_Enterprise-Automatizacion 1" class="text-5xl" />
    <div class="flex w-full gap-10 items-center">
      <a href="https://beyondtechnology.net/es/automatizacion-de-redes-de-centro-de-datos/" target="_blank" title="automatización de redes de centros de datos" class="text-gray text-[16px] font-bold my-8">Automatización de redes de centros de datos</a>
      <a href="https://beyondtechnology.net/es/automatizacion-de-redes-de-centro-de-datos/" target="_blank" title="automatización de redes de centros de datos"><Icon name="Arrow purple" class="text-l" /></a>
    </div>
  </div>
  <div class="bg-[#F7F7F7] px-10 pt-20 rounded-lg flex flex-col">
    <Icon name="AI_Driven_Enterprise-Automatizacion 1" class="text-5xl" />
    <div class="flex w-full gap-10 items-center">
      <a href="https://beyondtechnology.net/es/virtualizacion-y-servicios-de-nube/" target="_blank" title="automatización de redes de centros de datos" class="text-gray text-[16px] font-bold my-8">Virtualización y Servicios de Nube</a>
      <a href="https://beyondtechnology.net/es/virtualizacion-y-servicios-de-nube/" target="_blank" title="automatización de redes de centros de datos"><Icon name="Arrow purple" class="text-l" /></a>
    </div>
  </div>
  <div class="bg-[#F7F7F7] px-10 pt-20 rounded-lg flex flex-col">
    <Icon name="AI_Driven_Enterprise-Automatizacion 1" class="text-5xl" />
    <div class="flex w-full gap-10 items-center">
      <a href="https://beyondtechnology.net/es/wifi-impulsado-por-ia/" target="_blank" title="automatización de redes de centros de datos" class="text-gray text-[16px] font-bold my-8">Wifi Impulsado Por IA</a>
      <a href="https://beyondtechnology.net/es/wifi-impulsado-por-ia/" target="_blank" title="automatización de redes de centros de datos"><Icon name="Arrow purple" class="text-l" /></a>
    </div>
  </div>
</section>