---
import { Icon } from 'astro-icon/components'
---

<section class="flex flex-col items-center justify-center gap-2 px-10 py-10">
    <p class="text-purple ">Mi Equipo Global</p>
    <h5 class="text-blue text-[32px] text-center font-bold">¿Para quiénes creamos valor?</h5>
    <div class="grid grid-cols-2 md:grid-cols-5 gap-15 mt-20">
        <div class="flex flex-col items-center">
            <Icon name="Telecomunicaciones" class="text-5xl icon-hover" />
            <p class="text-gray text-[16px] font-bold pt-5 ">Telecomunicaciones</p>
        </div>
       <div class="flex flex-col items-center">
            <Icon name="Retail" class="text-5xl icon-hover" />
            <p class="text-gray text-[16px] font-bold pt-5 text-center">Retail</p>
        </div><div class="flex flex-col items-center">
            <Icon name="Hoteleria" class="text-5xl icon-hover" />
            <p class="text-gray text-[16px] font-bold pt-5 text-center">Hotelería, servicios y entretenimiento</p>
        </div><div class="flex flex-col items-center">
            <Icon name="Manufactura" class="text-5xl icon-hover" />
            <p class="text-gray text-[16px] font-bold pt-5 text-center">Manufactura</p>
        </div>
        <div class="flex flex-col items-center">
            <Icon name="Servicios financieros" class="text-5xl icon-hover" />
            <p class="text-gray text-[16px] font-bold pt-5 text-centerhv">Servicios financieros</p>
        </div>
    </div>
</section>