---
import { Icon } from "astro-icon/components";
---

<header class="w-full py-5 bg-white shadow-md fixed top-0 z-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <!-- Logo a la izquierda -->
      <div class="flex-shrink-0">
        <a href="/" title="Aida Oropeza">
          <Icon name="Logo_Aida" class="text-5xl" />
        </a>
      </div>

      <div class="hidden md:flex items-center space-x-4 gap-8">
        <a href="#proposito" title="Mi proposito">Mi próposito</a>
        <a href="#" title="Mi proposito">Mi Equipo Global</a>
        <a href="#casos de éxito" title="Mi proposito">Éxitos en acción</a>

         <a href="#contacto" class="text-white borde bg-[#6A7CD8] rounded-lg p-3">Agenda con Aida
  
           </a>
      </div>

      <!-- Icono de menú hamburguesa para móviles -->
      <div class="md:hidden">
        <button id="menu-toggle">
          <svg
            class="h-6 w-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
    <!-- Mobile menu -->
    <div id="mobile-menu" class="md:hidden hidden flex-col space-y-2 mt-2">
       <a href="#proposito" title="Mi proposito">Mi próposito</a>
        <a href="#proposito" title="Mi proposito">Mi Equipo Global</a>
        <a href="#proposito" title="Mi proposito">Éxitos en acción</a>
        <a href="#contacto" >
           <a href="#contacto" class="text-white borde bg-[#6A7CD8] rounded-lg p-3">Agenda con Aida
  
           </a>
     
    </div>
  </div>
</header>

<script>
  const toggleBtn = document.getElementById("menu-toggle");
  const mobileMenu = document.getElementById("mobile-menu");
  toggleBtn.addEventListener("click", () => {
    mobileMenu.classList.toggle("hidden");
  });
</script>
