---
import { Icon } from 'astro-icon/components'

---
<section class="flex flex-col md:flex-row items-stretch">
    <div class="flex-1 px-10 py-20 ">
        <p class="text-purple">Mi Equipo Global</p>
        <h3 class="text-[32px] text-blue font-bold">Nuestro propósito: </h3>
        <p class="text-[32px] text-purple font-bold">Generar Bienestar Y Trascendencia</p>
        <div class="flex flex-col mt-10">
            <p class="text-[16px] text-blue font-bold flex items-center gap-2">
                <Icon name="icon-mission"></Icon>¿Cuál es nuestra misión?
            </p>
            <p class="text-gray text-[16px] my-8">
                Ser una corporación global enfocada en entender los procesos <br> de negocio de nuestros clientes y transformarlos con tecnología.
            </p>
        </div>
    </div>
    <div class="flex-1 px-10 py-20 ">
        <p class="text-[16px] text-blue font-bold flex items-center gap-2 md:mt-40 sm: mt-5">
            <Icon name="icon-mission"></Icon>¿Cuál es nuestra misión?
        </p>
        <p class="text-gray text-[16px] my-8">
            Ser una corporación global enfocada en entender los procesos <br> de negocio de nuestros clientes y transformarlos con tecnología.
        </p>
    </div>
</section>